# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.env
offset.txt
.vscode
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
