.tab-wrapper .tab-titles {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.tab-wrapper .tab-titles .tab-title {
    margin-right: 10px;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.tab-wrapper .tab-titles .tab-title.active {
    border-bottom: 1px solid #333;
}

.tab-wrapper .tab-contents .tab:not(.active) {
    display: none;
}

.tab-wrapper .tab-contents .tab.active {
    display: block;
}

.review-list.short {
    position: relative;
}

.review-list.view-full .review-wrapper:not(.view-full) {
    display: none;
}

.discussion-list {
    position: relative;
}

.discussion-list.view-full .discussion-wrapper:not(.view-full) {
    display: none;
}

.title-view .like-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.title-view .like-wrapper > div {
    margin-right: 20px;
}

.title-view .like-wrapper a {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.title-view .like-wrapper a .material-icons-outlined {
    color: #333;
}

.title-view .like-wrapper .has_like a, .title-view .like-wrapper .has_dislike a {
    border-color: #333;
}

.title-view .like-wrapper a:focus {
    outline: none;
    text-decoration: none;
}

.homepage #fullscreen-slider .tp-parallax-wrap {
    visibility: visible !important;
}

.homepage #fullscreen-slider .text h1 {
    color: #fff !important;
    font-size: 50px !important;
}

.title-carousel .movie-box-1 .poster {
    min-height: 400px;
    overflow: hidden;
}

.title-carousel .movie-box-1 .poster > img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 400px;
    min-height: 400px;
}

.banner-list .col-md-4 .movie-box-1 {
    flex: 1;
    margin-bottom: 20px;
}

.banner-list .col-md-4 .movie-box-1:last-of-type {
    margin-bottom: 0;
}

.login-register-page .small-dialog .small-dialog-content .bottom-links .social-container {
    clear: both;
    margin-top: 10px;
    text-align: center;
}

.social-container .facebook-login {
    position: relative;
}

.social-container .social-login-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
}

.social-container .facebook-login > a {
    padding: 10px;
    line-height: 24px;
    min-height: 45px;
    display: block;
    color: #fff !important;
    background: #3b5998 !important;
    border-radius: 3px;
}

.social-container .social-login-wrapper .or-span {
    margin-bottom: 10px;
    width: 100%;
}

.login-register-page .small-dialog .small-dialog-content .bottom-links > span > a {
    display: inline-block;
    padding-left: 10px;
}

.login-register-page .small-dialog .small-dialog-content .bottom-links > a {
    display: block;
}

.messages {
    position: absolute;
    z-index: 99;
    width: 100%;
    top: 80px;
    padding: 10px;
    max-width: 1200px;
    left: 50%;
    transform: translateX(-50%);
}

.main-container {
    position: relative;
}

header.header-fixed {
    z-index: 1000 !important;
}

.page-not-found-container .title-carousel .title {
    font-size: 34px;
    color: #3e4555;
    opacity: 1;
    font-weight: 600;
    text-shadow: none;
    margin: 0 !important;
    line-height: 1.5;
    text-align: left;
    padding-bottom: 20px;
}

.header nav.navbar {
    min-height: auto !important;
}

header.header .navbar-nav .nav-item .btn.btn-main {
    padding: 0 15px;
}

.my-mfp-zoom-in .mfp-content .login-register-page {
    background: none !important;
    height: auto !important;
    z-index: 10;

}

.my-mfp-zoom-in .mfp-content .login-register-page::before {
    background-color: transparent !important;
}

.my-mfp-zoom-in .mfp-content .login-register-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 500px;
}

.my-mfp-zoom-in .mfp-content #login-register-popup {
    width: 500px;
    height: 340px;
}

.my-mfp-zoom-in .mfp-close {
    display: none;
}

.my-mfp-zoom-in .mfp-content .login-register-page .back-home {
    display: none;
}

.wrapper .main-container .page-header {
    margin-top: 0;
}

.movie-list-2 .title-link-input {
    display: none;
}

.list-title-container .listing-container .stars .summary {
    display: none;
}


.title-view .btn.rate-movie.has_like, .title-view .btn.rate-movie.has_dislike {
    opacity: 1;
}

.recommended-list {
    list-style: none;
    padding-left: 0;
}

.title-view .rating {
    display: flex;
    align-items: center;
}

.title-view .rating .review-summary .stars {
    display: flex;
    align-items: center;
}

.title-view .review-list .reviews-count {
    font-size: 17px;
    opacity: 1;
    color: #333;
    border-bottom: 1px solid #fbfbfb;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.review-wrapper .review-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    border-bottom: 1px solid #fbfbfb;
}

.review-wrapper .review-item .title {
    font-size: 24px;
    color: #555555;
    margin-right: 15px;
    padding-bottom: 0;
}

.review-wrapper .review-item .rating {
    display: inline-block !important;
    margin: 0;
    font-size: 27px;
    font-weight: 700;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #c33829;
    border-radius: 50%;
    padding: 25px 10px;
}

.review-wrapper .review-item .review-actions {
    width: 100%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.review-wrapper .review-item .rating > .base {
    font-size: 16px;
    font-weight: 400;
}

.review-wrapper .review-item.review-full {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0;
}

.review-wrapper .review-item.review-full .back-button {
    padding: 0;
    color: #333;
    text-transform: initial;
    text-decoration: underline;
}

.review-wrapper .review-item.review-full .review-upper-content {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.review-wrapper .review-item.review-full .review-content {
    margin-bottom: 25px;
    width: 100%;
}

.review-wrapper .review-item.review-full .review-content > * {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.review-wrapper .review-item.review-full .pros-cons-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: #fbfbfb;
}

.review-wrapper .review-item.review-full .pros-cons-wrapper .point-wrapper.pros .point-title {
    border-color: #00ab54;
    color: #00ab54;
}

.review-wrapper .review-item.review-full .pros-cons-wrapper .point-wrapper.cons .point-title {
    border-color: #f71735;
    color: #f71735;
}

.review-wrapper .review-item.review-full .pros-cons-wrapper .point-wrapper .point-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 4px solid;
}

.review-wrapper .review-item.review-full .pros-cons-wrapper .point-wrapper {
    margin-top: 20px;
}

.review-wrapper .review-item.review-full .pros-cons-wrapper .point-wrapper:first-of-type {
    margin: 0;
}

.review-wrapper .review-item.review-full .pros-cons-wrapper .point-wrapper > ul {
    padding-left: 0;
    margin-top: 15px;
    list-style: none;
}

.review-wrapper .review-item.review-full .pros-cons-wrapper .point-wrapper > ul > li {
    padding-left: 20px;
    position: relative;
    margin-bottom: 10px;
}

.review-wrapper .review-item.review-full .pros-cons-wrapper .point-wrapper > ul > li::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 50%;
}

.review-wrapper .review-item.review-full .pros-cons-wrapper .point-wrapper.pros > ul > li::before {
    background: #00ab54;
}


.review-wrapper .review-item.review-full .pros-cons-wrapper .point-wrapper.cons > ul > li::before {
    background: #f71735;
}

.review-wrapper .review-item.review-full .recommended-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.review-wrapper .review-item.review-full .recommended-wrapper .recommended {
    margin: 0;
    display: flex;
    align-items: center;
}

.review-wrapper .review-item.review-full .recommended-wrapper .recommended > .text {
    font-size: 20px;
    color: #757575;
    display: inline-block;
    margin-right: 15px;
}

.review-wrapper .review-item.review-full .recommended-wrapper .recommended [class*='icon'] {
    font-size: 40px;
}

.review-wrapper .review-item.review-full .recommended-wrapper .recommended .icon-check {
    color: #00ab54;
}

.review-wrapper .review-item.review-full .recommended-wrapper .recommended .icon-close {
    color: #f71735;
}

.review-wrapper .review-item.review-full .published-by .author {
    font-style: italic;
}

.title-view .review-list .review-wrapper .reviews-action {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
}

.title-view .review-list .review-wrapper {
    position: relative;
}

.title-view .review-list .review-wrapper .reviews-action [class*='icon'] {
    font-size: 20px;
}

.title-view .review-list .review-wrapper .reviews-action .remove-btn [class*='icon'] {
    color: #f71735;
}

.title-view .review-list .review-wrapper .reviews-action .edit-btn [class*='icon'] {
    color: #757575;
}

.title-view .review-list .review-wrapper.view-full .reviews-action {
    left: 15rem;
    top: 5px;
}

.review-form .rating-wrapper {
    max-width: 500px;
    margin-bottom: 2.5rem;
}

.review-form .rating-wrapper .display-slider {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #333;
    margin-bottom: 5px;
}

.review-form .rating-wrapper .slider {
    background: #c33829;
    border: 0;
    border-radius: 0;
    height: 5px;
}

.review-form .rating-wrapper .slider .ui-slider-handle {
    width: 10px;
    height: 20px;
    border-color: #ddd;
    background: #fff;
    top: -7px;
}

.review-form .pros-cons-container .pros-cons-wrapper > .btn {
    margin-left: 10px;
}

.review-form .pros-cons-container {
    margin-bottom: 2.5rem;
}

.review-form .pros-cons-container .pros-cons-wrapper > .field-list .pros-cons-field-wrapper {
    position: relative;
}

.review-form .pros-cons-container .pros-cons-wrapper > .field-list .pros-cons-field-wrapper .pros-cons-rm {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    display: flex;
    align-items: center;
    height: 44px;
    background: none;
    border: 0;
}

.review-form .pros-cons-container .pros-cons-wrapper > .field-list .pros-cons-field-wrapper .form-control {
    padding-right: 40px;
}

.tab-wrapper .tab-titles .tab-title {
    margin-bottom: 0;
    margin-right: 15px;
    font-size: 15px;
    color: #757575;
}

.tab-wrapper .tab-titles {
    margin-bottom: 2.5rem;
}

.new-discussion-form .btn.btn-default {
    background: #c33829;
    color: #fff;
}

.title-view .discussion-list .discussion-count {
    font-size: 17px;
    opacity: 1;
    color: #333;
    border-bottom: 1px solid #fbfbfb;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.title-view .discussion-list {
    padding-left: 0;
    list-style: none;
}

.discussion-wrapper .discussion-list > .discussion-wrapper {
    padding: 5px 20px 10px;
    border-bottom: 1px solid #fbfbfb;
}

.discussion-wrapper .upvotes-wrapper .vote [class*='icon'] {
    font-size: 15px;
    color: #757575;
}

.discussion-wrapper .upvotes-wrapper .upvotes.upvote .vote.upvote [class*='icon'] {
    color: #00ab54;
}

.discussion-wrapper .upvotes-wrapper .upvotes.downvote .vote.downvote [class*='icon'] {
    color: #f71735;
}

.discussion-wrapper .discussion-title {
    font-size: 24px;
    color: #555555;
    margin-right: 15px;
    padding-bottom: 0;
    margin-top: 8px;
    margin-bottom: 5px;
}

.discussion-wrapper .discussion-full .back-discussion {
    text-transform: initial;
    padding: 0;
    color: #333;
    text-decoration: underline;
}

.discussion-wrapper .discussion-full .author-info .author {
    font-style: italic;
}

.discussion-wrapper .discussion-full .author-info {
    margin: 0;
    opacity: 0.7;
}

.discussion-wrapper .discussion-full .upper-info {
    margin-top: 10px;
    margin-bottom: 15px;
}

.discussion-wrapper .discussion-full .discussion-content .content {
    font-size: 16px;
    color: #757575;
    margin-bottom: 0;
}

.discussion-wrapper .discussion-full .discussion-content {
    margin-bottom: 5px;
}

.discussion-wrapper .discussion-full .answer-form .answer-btn {
    border: 1px solid #333;
}

.discussion-wrapper .discussion-full .answer-form .form-wrapper {
    margin-top: 15px;
}

.discussion-wrapper .discussion-full .answer-form .new-answer-form .btn {
    border: 1px solid #333;
}

.discussion-wrapper .discussion-list > .discussion-wrapper {
    position: relative;
}

.discussion-wrapper .discussion-list > .discussion-wrapper > .discussion-actions {
    display: flex;
    align-items: center;
}

.discussion-wrapper .discussion-list > .discussion-wrapper > .discussion-actions .btn.btn-link [class*='icon'] {
    font-size: 20px;
}

.discussion-wrapper .discussion-list > .discussion-wrapper > .discussion-actions .remove-discussion.btn.btn-link [class*='icon'] {
    color: #f71735;
}

.discussion-wrapper .discussion-list > .discussion-wrapper > .discussion-actions .edit-discussion.btn.btn-link [class*='icon'] {
    color: #757575;
}

.discussion-wrapper .discussion-list > .discussion-wrapper > .discussion-actions, .discussion-wrapper .discussion-list > .discussion-wrapper > .upvotes-wrapper {
    float: left;
}

.discussion-wrapper .discussion-list > .discussion-wrapper > .discussion-short, .discussion-wrapper .discussion-list > .discussion-wrapper > .discussion-full {
    clear: both;
    padding-top: 5px;
}

.discussion-edit-form .form-container,
.review-edit-form .form-container {
    margin-bottom: 15px;
}

.page-header .title .title-link {
    text-decoration: underline;
}

.wrapper .main-container .page-header p {
    margin: 0;
    font-size: 14px;
    color: #fff;
}

.main-container .genre-liked-survey .form-explain {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.genre-liked-survey .genres-list-container .genres-list .form-group {
    padding: 0 15px;
    margin-bottom: 2.5rem;
    text-align: center;
}

.genre-liked-survey .genres-list-container .genres-list .form {
    display: flex;
    flex-wrap: wrap;
}

.genre-liked-survey .genres-list-container .genres-list .form-group label {
    margin-top: 1rem;
}

.genre-liked-survey .genres-list-container .genres-list .form-group.submit-button {
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-start;
}

.genre-liked-survey .genres-list-container .genres-list .form-group.submit-button > .btn {
    min-width: 200px;
}

.genre-liked-survey .genres-list-container .genres-list .movie-list-2 {
    margin-bottom: 80px;
    max-width: 33.33333333%;
    background: none;
    padding: 0 15px;
}

.genre-liked-survey .genres-list-container .genres-list .movie-list-2 .listing-container {
    flex-direction: column;
    background: #343a40;
    border-radius: 5px;
    height: 345px;
    padding-bottom: 15px;
}

.genre-liked-survey .genres-list-container .genres-list .form {
    margin-top: 100px;
}

.genre-liked-survey .genres-list-container .genres-list .movie-list-2 .listing-container .listing-content .form-group {
    width: 100%;
    margin: 0;
}

.genre-liked-survey .genres-list-container .genres-list .movie-list-2 .listing-container .listing-content {
    flex: none;
}

.genre-liked-survey .genres-list-container .genres-list .movie-list-2 .listing-container .listing-content .form-group label {
    color: #fff;
}

.general-search-wrapper.open {
    z-index: 1000000;
}

@media screen and (max-width: 991px) {
    .genre-liked-survey .genres-list-container .genres-list .movie-list-2 {
        max-width: 50%;
    }
}

@media screen and (min-width: 768px) {

    .title-view .movie-detail-intro2 .movie-details {
        width: 60%;
    }
    .banner-list .col-md-8 .movie-box-1 .poster {
        max-height: 450px;
        overflow: hidden;
    }
    
    .banner-list .col-md-8 .movie-box-1 .poster img {
        height: 100%;
        max-height: 100%;
    }
    
    .banner-list .col-md-4 {
        display: flex;
        flex-direction: column;
    }
    
    
    .banner-list .col-md-8 .movie-box-1 {
        height: 100%;
    }
    
    .banner-list .col-md-4 .movie-box-1 .poster {
        max-height: 215px;
    }
    
    .banner-list .col-md-4 .movie-box-1 .poster img {
        height: 100%;
        max-height: 215px;
    }
}

@media screen and (max-width: 768px) {
    .banner-list .col-md-8 {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 650px) {
    .review-wrapper .review-item .rating {
        font-size: 20px;
        padding: 15px 5px;
    }
    
    .review-wrapper .review-item .rating > .base {
        font-size: 13px;
    }
}

@media screen and (max-width: 425px) {
    .genre-liked-survey .genres-list-container .genres-list .movie-list-2 {
        max-width: 100%;
    }
}