{% import 'bootstrap/wtf.html' as wtf %}
<div class="review-form">
    <form action="{{review_form.get_custom_action()}}" role="form" method="POST" class="form" >
        {{ review_form.hidden_tag() }} 
        {{ review_form.title_parent_id() }}
        {{ wtf.form_errors(review_form, hiddens="only") }}
        <div class="form-group required">
            <label for="review_title" class="control-label">Titolo Recensione</label>
            {{ review_form.title(class="form-control", id="review_title", required="required", placeholder="Un film fantastico...") }}
        </div>
        <div class="form-group required">
            <label for="review_content" class="control-label">Recensione</label>
            {{ review_form.content(class="form-control", id="review_content", required="required", placeholder="Contenuto recensione") }}
        </div>
        <div class="form-group required rating-wrapper">
            <label for="review_rating" class="control-label">Valutazione</label>
            {{ review_form.rating(class="form-control", id="review_rating", required="required", type="hidden") }}
            {% if review_form.rating.data %}
                <p class="display-slider">{{ review_form.rating.data }}</p>
            {% else %}
                <p class="display-slider">1.0</p>
            {% endif %}
            <div class="slider"></div>
        </div>

        <div class="form-group row pros-cons-container ">
            <div class="col-md-6 pros-cons-wrapper">
                <label for="review_pros" class="control-label">Pro</label>
                <button type="button" class="add add-pros btn btn-default btn-sm">Aggiungi</button>
                <div class="field-list">
                    {% for pros in review_form.pros.data %}
                        <div class="pros-cons-field-wrapper pros-field-wrapper">
                            <input type="text" data-index="{{loop.index0}}" class="form-control pros-field" name="pros-{{loop.index0}}" value="{{pros}}">
                            <button class='pros-cons-rm' type='button'><span class='material-icons'>remove</span></button>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6 pros-cons-wrapper">
                <label for="review_cons" class="control-label">Contro</label>
                <button type="button" class="add add-cons btn btn-default btn-sm">Aggiungi</button>
                <div class="field-list">
                    {% for cons in review_form.cons.data %}
                        <div class="pros-cons-field-wrapper cons-field-wrapper">
                            <input type="text" data-index="{{loop.index0}}" class="form-control cons-field" name="cons-{{loop.index0}}" value="{{cons}}">
                            <button class='pros-cons-rm' type='button'><span class='material-icons'>remove</span></button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="review_recommended" class="control-label">Consigliato</label>
            {{ review_form.recommended(id="review_recommended") }}
        </div>

        {{ review_form.submit(class="btn btn-main btn-effect") }}
    </form>

    <script type="text/javascript">
        $(function() {
            $(".slider").slider({
                animate: "fast",
                max: 10.0,
                min: 1.0,
                step: 0.1,
                {% if review_form.rating.data %}
                value: {{ review_form.rating.data }},
                {% endif %}
                slide: (event, ui) => {
                    $("#review_rating").val(ui.value.toFixed(1));
                    $(".display-slider").text(ui.value.toFixed(1));
                }
            })

            let createProsConsField = (type, index) => {
                let wrapper = $("<div class='pros-cons-field-wrapper " + type + "-field-wrapper'></div>")
                let field = $("<input data-index=" + index + " type='text' class='form-control " + type + "-field' name='" + type + "-" + index + "' />")
                let rButton = $("<button class='pros-cons-rm' type='button'><span class='material-icons'>remove</span></button>");
                wrapper.append(field);
                wrapper.append(rButton);

                return wrapper;
            };

            $(document).on("click", ".pros-cons-container .add", function() {
                let btn = jQuery(this);
                let wrapper = btn.closest(".pros-cons-wrapper");

                let type = "cons";
                if (btn.hasClass("add-pros")) {
                    type = "pros";
                }

                let lastIndex = wrapper.find(".field-list .form-control:last").data("index");
                let index = (typeof lastIndex !== 'undefined')? lastIndex + 1 : 0;
                let field = createProsConsField(type, index);
                wrapper.find(".field-list").append(field);
            });

            $(document).on("click", ".pros-cons-wrapper .pros-cons-rm", function() {
                let btn = $(this);
                let wrapper = btn.closest(".pros-cons-field-wrapper");
                wrapper.remove();
            });
        });
    </script>
</div>