<div class="review-full review-item">
    <button class="back-button btn btn-link">Torna indietro</button>
    <div class="review-upper-content">
        <h3 class="review-title title">{{ review.title }}</h3>
        <div class="review-rating">
            <p class="rating">
                {{ review.rating }}<span class="base">/10</span>
            </p>
        </div>
    </div>

    <div class="review-content">
        <p>
            {{ review.content }}
        </p>
    </div>
    

    <div class="pros-cons-wrapper">
        <div class="point-wrapper pros">
            <p class="point-title">PRO</p>
            <ul class="pros-wrapper">
                {% for point in review.pros() %}
                <li class="pros">{{point.content|safe}}</li>
                {% endfor %}
            </ul>
        </div>
        
        <div class="point-wrapper cons">
            <p class="point-title">CONTRO</p>
            <ul class="cons-wrapper">
                {% for point in review.cons() %}
                    <li class="cons">{{point.content|safe}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="recommended-wrapper">
        <p class="recommended">
            <span class="text">Consigliato</span>
            {% if review.recommended %}
                <span class="icon-check"></span>
            {% else %}
                <span class="icon-close"></span>
            {% endif %}
        </p>
    </div>

    <div class="published-by">
        <p class="text">Pubblicato da: <span class="author">{{ review.get_author().fullname() }}</span></p>
    </div>
</div>