<section class="how-it-works bg-light ptb100">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="title">Come funziona?</h2>
                <h6 class="subtitle">Hai appena finito una SerieTV o un Film
                    stupendo e non sai cos'altro vedere? Sei nel posto giusto!</h6>
            </div>
        </div>


        <div class="timeline">
            <span class="main-line"></span>

            <div class="timeline-step row">
                <span class="timeline-step-btn">Step 1</span>

                <div class="col-md-6 col-sm-12 timeline-text-wrapper">
                    <div class="timeline-text">
                        <h3>Crea un account</h3>
                        <p>Iscriviti per tenere traccia di ciò che hai già visto
                            e ciò che potrebbe potenzialmente piacerti.</p>
                    </div>
                </div>


                <div class="col-md-6 col-sm-12 timeline-image-wrapper">
                    <div class="timeline-image">
                        <img src="{{ url_for('static', filename='images/other/signup.png') }}" alt="">
                    </div>
                </div>

            </div>


            <div class="timeline-step row">
                <span class="timeline-step-btn" style="color: #2a7bc2;
                    background: #c1ddf5;">Step 2</span>

                <div class="col-md-6 col-sm-12 timeline-image-wrapper">
                    <div class="timeline-image">
                        <img src="{{ url_for('static', filename='images/other/pricing.png') }}" alt="">
                    </div>
                </div>


                <div class="col-md-6 col-sm-12 timeline-text-wrapper">
                    <div class="timeline-text-right">
                        <h3>Dicci cosa hai già visto e quanto ti è piaciuto</h3>
                        <p>Scrivici tutti i film o serieTV che hai già guardato,
                            quanto ti sono piaciute? Questo ci servirà per
                            proporti contenuti adatti ai tuoi gusti</p>
                    </div>
                </div>

            </div>


            <div class="timeline-step row">
                <span class="timeline-step-btn" style="color: #eb305f;
                    background: #f9c8d4;">Step 3</span>

                <div class="col-md-6 col-sm-12 timeline-text-wrapper">
                    <div class="timeline-text">
                        <h3>Divertiti su TopFlix</h3>
                        <p>Una volta risposto a poche semplici domande, il
                            nostro algoritmo ti proporrà film e serieTV adatte
                            ai tuoi gusti. Tranquillo, non rimarrai deluso.</p>
                    </div>
                </div>



                <div class="col-md-6 col-sm-12 timeline-image-wrapper">
                    <div class="timeline-image">
                        <img src="{{ url_for('static', filename='images/other/enjoy-topflix.png') }}" alt="">
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>