<section class="counter bg-main-gradient ptb50 text-center">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-12">
                <span class="counter-item" data-from="0" data-to="{{total_films}}">0</span>
                <h4>Film</h4>
            </div>

            <div class="col-md-4 col-sm-12">
                <span class="counter-item" data-from="0" data-to="{{total_series}}">0</span>
                <h4>SerieTV</h4>
            </div>

            <div class="col-md-4 col-sm-12">
                <span class="counter-item" data-from="0" data-to="{{total_users}}">0</span>
                <h4>Utenti</h4>
            </div>
        </div>
    </div>
</section>