{% extends "index.html" %}
{% from "carousel/general.html" import carousel_template %}
{% from "carousel/banner.html" import banner_template %}

<div class="homepage">
    {% block app_content %}
    <section id="slider" class="full-slider">
        <div class="rev-slider-wrapper fullscreen-container overlay-gradient">
            <div id="fullscreen-slider" class="rev_slider fullscreenbanner"
                style="display:none" data-version="5.4.1">
                <ul>
    
                    <li data-transition="fade">
    
                        <img src="{{ url_for('static', filename='images/slider/slider1.jpg') }}" alt="Cosa hai appena visto?"
                            title="slider-bg" data-bgposition="center center"
                            data-bgfit="cover" data-bgrepeat="no-repeat"
                            data-bgparallax="10" class="rev-slidebg"
                            data-no-retina="">
    
                        <div class="tp-caption tp-resizeme" data-x="center"
                            data-hoffset="" data-y="middle"
                            data-voffset="['-30','-30','-30','-30']"
                            data-responsive_offset="on"
                            data-fontsize="['60','50','40','30']"
                            data-lineheight="['60','50','40','30']"
                            data-whitespace="nowrap" data-frames='[{" delay" :1000,"speed" :2000," frame" :" 0" ," from" :"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;"," mask" :" x:0px;y:[100%];s:inherit;e:inherit;" ," to":" o:1;" ," ease" :" Power2.easeInOut" },{" delay" :"wait" ," speed" :500," frame" :" 999" ," to" :"auto:auto;" ," ease" :" Power3.easeInOut" }]'
                            style="z-index: 5; color: #fff; font-weight: 900;">
                            <div class="text">
                                {% if current_user.is_authenticated %}
                                    <h1>Bentornato {{current_user.first_name}}</h1>
                                {% else %}
                                    <h1>Benvenuto su TOPFlix</h1>
                                {% endif %}                            
                            </div>
                        </div>
                    </li>
    
                </ul>
            </div>
        </div>
    
    </section>    
    <div class="homepage-content">
        {{ carousel_template("Ultimi film", last_movies, "Vedi tutti", url_for("main.list_title"), "latest-movies") }}
        {{ banner_template("Ultimi titoli importati", last_movies_imported) }}
        {{ carousel_template("Ultime serie TV", last_series, "Vedi tutti", url_for("main.list_title"), "latest-tvshows") }}

        {% include "info/howtouse.html" %}
        {% include "info/numbers.html" %}
    </div>
    {% endblock %}
    
    {% block scripts %}
    {{super()}}
    <script type="text/javascript" charset="utf-8">
        current_socket.on('discussion_created', function(data) {
            console.log("Received: ");
            console.log(data);
        });

        current_socket.emit('discussion_new', {'ciao': 'mondo'});
    </script>
    {% endblock %}
</div>