{% extends "index.html" %}
<div class="homepage">
    {% block app_content %}
    {% if user.is_authenticated %}
        <h1>Hello - {{user.first_name}} - {{user.email | string}}</h1>
        <p class="genres_liked">{{ user.genres_liked_as_string() }}</p>
    {% else %}
        <h1>Benvenuto su TOPFlix</h1>
    {% endif %}
        <div class="homepage-content">
            {% set recommended_title = "Consigliati per te" %}
            {% include "title/recommended.html" %}
        </div>
    {% endblock %}

</div>